<div class="nested-fields">
  <div class="field">
    <%= f.label :rep_id, "Sponsor"%>
   <br>
    <%= f.collection_select(:rep_id, Rep.all, :id, :firstName) %>
  </div> 
 <%= link_to_remove_association "remove sponsors", f %>
</div>